@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom cursor styles */
.custom-cursor {
  @apply w-5 h-5 border-2 border-blue-500 rounded-full fixed pointer-events-none z-60 transition-all duration-100 ease-out mix-blend-difference;
}

.custom-cursor.hidden {
  @apply opacity-0;
}

.custom-cursor.clicked {
  @apply scale-90 bg-blue-500;
}

.custom-cursor.link-hovered {
  @apply scale-150 bg-blue-500 bg-opacity-10;
}

/* Dark mode specific styles */
.dark .custom-cursor {
  @apply border-blue-400;
}

.dark .custom-cursor.clicked {
  @apply bg-blue-400;
}

/* Ensure all interactive elements have no cursor */
@layer base {
  button, a, input[type="submit"], input[type="button"], .interactive {
    @apply cursor-none;
  }

  /* Apply cursor-none to all elements to enforce custom cursor only */
  * {
    @apply cursor-none;
  }
}

/* Show default cursor on touch devices */
@media (hover: none) and (pointer: coarse) {
  * {
    @apply cursor-auto; /* Ensures cursor visibility on non-pointing devices */
  }
  .custom-cursor {
    @apply hidden; /* Hide custom cursor on touch devices */
  }
}
.scrollContainer {
  position: relative;
  overflow: hidden;
}

.scrollContainer::before,
.scrollContainer::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px; /* Narrower width for a subtler effect */
  pointer-events: none;
  z-index: 10;
}

.scrollContainer::before {
  left: 0;
  background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}

.scrollContainer::after {
  right: 0;
  background: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
}
